:root {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #c8c6c6;
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#header {
  height: 150px;
  background-color: #f7f6f2;
}

h1 {
  text-align: center;
  font-size: 50px;
  padding: 40px 20px;
  margin: auto;
}

#display {
  text-align: center;
  font-size: 35px;
  margin: 50px;
}

#content-wrap {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#game_board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 450px;
  width: 450px;
  margin: 2em auto;
}

@media only screen and (max-width: 500px) {
  #game_board {
    height: 347.5px;
    width: 347.5px;
  }
}

.squares {
  height: 150px;
  width: 150px;
  background-color: #4b6587;
  padding: 10px;
  border-color: white;
  cursor: pointer;
  font-size: 7.5rem;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .squares {
    height: 115.5px;
    width: 115.5px;
    font-size: 5.5rem;
  }
}

.squares:hover {
  background-color: #f0e5cf;
}

#s1 {
  border-top: 0px;
  border-left: 0px;
}

#s2 {
  border-top: 0px;
}

#s3 {
  border-top: 0px;
  border-right: 0px;
}

#s4 {
  border-left: 0px;
}

#s6 {
  border-right: 0px;
}

#s7 {
  border-left: 0px;
  border-bottom: 0px;
}

#s8 {
  border-bottom: 0px;
}

#s9 {
  border-right: 0px;
  border-bottom: 0px;
}

#btn-choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  margin: 20px;
}

#newPlayer {
  height: 50px;
  width: 100px;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
}

#twoPlayer {
  height: 50px;
  width: 100px;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
}

#restart {
  height: 50px;
  width: 100px;
  padding: 10px;
  margin: 20px;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
}

footer {
  margin-top: auto;
  width: 100%;
  min-height: 50px;
  text-align: center;
  background-color: #c8c6c6;
  padding-top: 25px;
}
